<h1 class="nombre-sitio">Tienda <span> Muebles</span></h1>
    <div class="contenedor-navegacion">
        <nav class="nav-principal contenedor">
            <a (click)="navegacion('home')">Inicio</a>
            <a (click)="navegacion('nosotros')">Nosotros</a>
            <a (click)="navegacion('tienda')">Tienda</a>
            <a (click)="navegacion('blog')">Blog</a>
            <a (click)="navegacion('galeria')">Galeria</a>
            <a (click)="navegacion('contacto')">Contacto</a>
        </nav>
    </div>
    