

.contenedor-navegacion{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 4rem;
}

.nav-principal{
    padding: 1.25rem;
    display: flex;
    padding: 1.25rem 0px;
    justify-content: space-between;
}

.contenedor{
   margin: 0px auto;
   max-width: 75rem;
}

.nombre-sitio{
    
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.nombre-sitio span{
    color: #037bc0;
}

a{
    text-decoration: none;
    color: #000000;
     
}


nav:hover{
    cursor: pointer;
}