<section class="formulario">

    <h3 class="formulario__heading">Busca un grupo en tu ciudad</h3>

    <form class="formulario__grid contenedor">
        <select class="formulario__campo">
            <option>Programacion</option>
            <option>Diseño</option>
            <option>Negocios</option>
            <option>Moda</option>
            <option>Ejercicio y salud</option>
            <option>Fotografia</option>
            <option>Comida</option>
            <option>Diseño Interior</option>
            <option>Cafe</option>
            <option>Cine</option>
            <option>Libros</option>
            <option>Empredimiento</option>
        </select>

        <input class="formulario__campo" placeholder="Nombre Evento" type="text">

        <input class="formulario__campo" placeholder="Ciudad o Pais" type="text">

        <input type="submit" class="formulario__boton" value="Buscar">
    </form>

</section>