<main class="contenido-principal contenedor">
    <h2 class="text-center">Sobre nosotros</h2>
    <div class="contenedor-base">
        <div class="imagen">
            <img src="../../../assets/images/nosotros.jpg" alt="imagen-nosotros">
        </div>
        <div class="informacion-nosotros">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas quibusdam perspiciatis, adipisci possimus dolorem corrupti soluta deserunt impedit fugiat saepe dolor, vel, voluptates magni eveniet asperiores? Quisquam aspernatur esse adipisci?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas quibusdam perspiciatis, adipisci possimus dolorem corrupti soluta deserunt impedit fugiat saepe dolor, vel, voluptates magni eveniet asperiores? Quisquam aspernatur esse adipisci?</p>
        </div>
    </div>
</main>
