<section class="block">
    <div class="block__grid contenedor">
        <div class="block__crea">
            <h3 class="block__heading">Crea un Grupo</h3>
            <p class="block__texto">Comparte lo que te gusta o tu pasion con los demas, crea tu propio grupo y eventos; hoy mismo sin costos</p>
        </div>
        <div class="block__unete">
            <h3 class="block__heading">Unete a un Grupo</h3>
            <p class="block__texto">Conoce personas con tus mismos gustos y pasiones, unete a un grupo ya existente y asiste a proximos eventos</p>
        </div>
    </div>
</section>