
<div class="imageContainer"></div>
<section class="contenedor">
    <h2 class="subTitulo">Categorias de <span>Productos</span></h2>
    <div class="listado-categorias">
        <div class="categoria">
            <img src="assets/images/categoria1.jpg">
            <a>Oficina</a>
            </div>
        <div class="categoria">
            <img src="assets/images/categoria2.jpg">
            <a>Hogar</a>
            </div>
        <div class="categoria">
            <img src="assets/images/categoria3.jpg">
            <a>Cocina</a>
           
        </div>
    </div>    
</section>

<section>
    <div class="nosotros-principal">
        <div class="nosotros-img"></div>
        <div class="contenedor-nosotros">
            <h2>Sobre nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis accusantium quidem in nulla, dolorem quasi velit neque? Ipsam facere et quia labore magni corporis incidunt vitae! Qui soluta laboriosam perspiciatis.</p>
    
        </div>
    </div>    
</section>

<app-tienda></app-tienda>