<main class="contenido-principal contenedor">
    <h2 class="text-center">Galeria</h2>
    
    <ul class="galeria">
        <li>
            <a href="../../../assets/images/galeria_01.jpg">
                <img src="../../../assets/images/galeria_01.jpg" alt="gal_01">
            </a>
        </li>
        <li>
            <a href="../../../assets/images/galeria_02.jpg">
                <img src="../../../assets/images/galeria_02.jpg" alt="gal_02">
            </a>
        </li>
        <li>
            <a href="../../../assets/images/galeria_03.jpg">
                <img src="../../../assets/images/galeria_03.jpg" alt="gal_03">
            </a>
        </li>
        <li>
            <a href="../../../assets/images/galeria_04.jpg">
                <img src="../../../assets/images/galeria_04.jpg" alt="gal_04">
            </a>
        </li>
        <li>
            <a href="../../../assets/images/galeria_05.jpg">
                <img src="../../../assets/images/galeria_05.jpg" alt="gal_05">
            </a>
        </li>
        <li>
            <a href="../../../assets/images/galeria_06.jpg">
                <img src="../../../assets/images/galeria_06.jpg" alt="gal_06">
            </a>
        </li>
        <li>
            <a href="../../../assets/images/galeria_07.jpg">
                <img src="../../../assets/images/galeria_07.jpg" alt="gal_07">
            </a>
        </li>
        <li>
            <a href="../../../assets/images/galeria_08.jpg">
                <img src="../../../assets/images/galeria_08.jpg" alt="gal_08">
            </a>
        </li>
        <li>
            <a href="../../../assets/images/galeria_09.jpg">
                <img src="../../../assets/images/galeria_09.jpg" alt="gal_09">
            </a>
        </li>
    </ul>

</main>