<main class="contenido-principal contenedor">
    <h2 class="text-center">Nuestro Blog</h2>
    <section class="contenedor-blog">
        <div class="blog">
            <article class="entrada">
                <h3 class="text-center">Guia de colores</h3>
                <div class="imagen">
                    <img src="../../../assets/images/nosotros.jpg" alt="imagen-nosotros">
                </div>
                <div>
                    <p>Fecha: <span>16 de Septiembre de 2023</span></p>
                    <p>Escrito por: <span>TiendaMuebles</span></p>
                </div>
                <div class="entrada-blog">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe consectetur quis numquam qui culpa ipsum dolor, possimus obcaecati, fuga nobis maxime iusto? Officiis distinctio placeat inventore! Autem corporis dignissimos quo.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus cumque quis est culpa voluptate libero doloribus fuga quia exercitationem rerum enim, consequuntur tenetur fugiat pariatur neque corporis ducimus quisquam.</p>
                </div>

                <a class="btn text-center w-20 m-auto">Leer</a>
            </article>

            <article class="entrada">
                <h3 class="text-center">Guia de colores</h3>
                <div class="imagen">
                    <img src="../../../assets/images/nosotros.jpg" alt="imagen-nosotros">
                </div>
                <div class="entrada-meta">
                    <p>Fecha: <span>16 de Septiembre de 2023</span></p>
                    <p>Escrito por: <span>TiendaMuebles</span></p>
                </div>
                <div class="entrada-blog">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe consectetur quis numquam qui culpa ipsum dolor, possimus obcaecati, fuga nobis maxime iusto? Officiis distinctio placeat inventore! Autem corporis dignissimos quo.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus cumque quis est culpa voluptate libero doloribus fuga quia exercitationem rerum enim, consequuntur tenetur fugiat pariatur neque corporis ducimus quisquam.</p>
                </div>
                <a class="btn text-center w-20 m-auto">Leer</a>
            </article>
        </div>
        <aside>
            <h3 class="text-center">Otras Entradas del Blog</h3>
            <ul>
                <li>
                    <a (click)="navegacion('entrada')" >Guia de colores</a>
                </li>
                <li>
                    <a>Nuevos Modelos</a>
                </li>
                <li>
                    <a>Guia para el diseño de interiores</a>
                </li>
                <li>
                    <a>Guia para el diseño de exteriores</a>
                </li>
                
            </ul>
        </aside>
    </section>
</main>
