<footer class="footer">
    <div class="footer__grid contenedor">
        <div class="footer__contenedor">
            <h3 class="footer__heading">Nosotros</h3>
            <p class="footer__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci saepe, 
                recusandae eius corrupti hic deleniti nam ullam esse ducimus tenetur magni incidunt nesciunts.</p>
        </div>
        <div class="footer__contenedor">
            <h3 class="footer__heading">Horario</h3>
            <p class="footer__texto">Lun-Vie: 9AM - 7PM</p>
            <p class="footer__texto">Sabado: 9AM - 7PM</p>
            <p class="footer__texto">Domingo: Cerrado</p>
        </div>
        <div class="footer__contenedor">
            <h3 class="footer__heading">Contacto</h3>
            <p class="footer__texto">Av. Revelucion 1818</p>
            <nav class="sociales">
                <a class="sociales__enlace" href="https://facebook.com">
                    <span class="sociales__accesible">Facebook</span>
                </a>
                <a class="sociales__enlace" href="https://twitter.com">
                    <span class="sociales__accesible">Twitter</span>
                </a>
                <a class="sociales__enlace" href="https://pinterest.com">
                    <span class="sociales__accesible">Pinterest</span>
                </a>
                <a class="sociales__enlace" href="https://instagram.com">
                    <span class="sociales__accesible">Instagram</span>
                </a>
                <a class="sociales__enlace" href="https://youtube.com">
                    <span class="sociales__accesible">Youtube</span>
                </a>
                <a class="sociales__enlace" href="https://tiktok.com">
                    <span class="sociales__accesible">Tiktok</span>
                </a>
            </nav>
        </div>
    </div>
    <div class="footer__copyright">Carolina & Spa. Todos los derechos reservados.</div>
</footer>