<header class="header">
   <div class="header__grid contenedor">
        <div class="header__logo" (click)="this._nav.navegacion('info')">
            <img class="header__logo-img" alt="logo-header" src="../../../../assets/img/logo.png" >
        </div>

        <nav class="navigation">
            <a class="navigation__link--create">Crear grupo</a>
            <a class="navigation__link">Iniciar sesion</a>
            <a class="navigation__link">Registrarse</a>
        </nav>
   </div>

  
</header>