@use "../../../../mixin.scss" as m;
@use "../../../../variables.scss" as v;


.horarios{
    margin-top: 3.5rem;
    background-image: linear-gradient(to bottom, v.$primario 0%, v.$primario 50%, transparent 50%, transparent 100%), 
    url("../../../../assets/img/bg_horarios.jpg");
    background-position: center, bottom center;

    @include m.tablet{
        background-image: linear-gradient(to right, v.$primario 0%, v.$primario 50%, transparent 50%, transparent 100%), 
        url("../../../../assets/img/bg_horarios.jpg");
        background-position: center, center right;
    }

    @include m.desktop{
        background-position: center, top right;
    }
    background-repeat: no-repeat;
    
    

    &__grid{
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        @include m.tablet{
            grid-template-rows: unset;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }

    &__contenido{
        font-family: v.$fuentePrincipal;
        grid-row: 1/2;
        @include m.tablet{
            grid-row: unset;
            grid-column: 1/2;
        }
        padding: 2rem;
        @include m.desktop{
            padding: 3.5rem;
        }
        color: v.$blanco;
    }

    &__heading{
        text-align: center;
        color: v.$blanco;
        font-size: 3.5rem;
        text-transform: uppercase;
        margin: 1rem;
        font-weight: 400;
    }

    &__texto{
        line-height: 1.5;
        padding-bottom: 1rem;
        font-size: 1.6rem;
    }
}

.tabla{
    text-align: center;
    width: 100%;
    border: 0.4rem solid v.$secundario;
    border-collapse:collapse ;
   

    &__th{
        padding: 1.2rem;
    }

    &__td{
        padding: 1rem;
    }

    &__tr{
        &:hover{
            background-color: darken(v.$primario, 10%);
        }
    }
    &__thead{
        background-color: v.$secundario;
    }
    
}