<section class="horarios">
    <div class="horarios__grid contenedor">
        <div class="horarios__contenido">
            <h3 class="horarios__heading">Horarios</h3>
            <p class="horarios__texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eius ipsum itaque similique vero temporibus. 
                Enim hic quod neque ipsa tempore mollitia perferendis ducimus porro minima,
                eos rem. Cupiditate, unde facere.
            </p>

            <table class="tabla">
                <thead class="tabla__thead">
                    
                        <th class="tabla__th">Dia</th>
                        <th class="tabla__th">De</th>
                        <th class="tabla__th">Hasta</th>
                    
                </thead>

                <tbody class="tabla__tbody">
                    <tr class="tabla__tr">
                        <td class="tabla__th">Lunes</td>
                        <td class="tabla__th">9:00</td>
                        <td class="tabla__th">19:00</td>
                    </tr>
                

                
                    <tr class="tabla__tr">
                        <td class="tabla__th">Martes</td>
                        <td class="tabla__th">9:00</td>
                        <td class="tabla__th">19:00</td>
                    </tr>
                

                
                    <tr class="tabla__tr">
                        <td class="tabla__th">Miercoles</td>
                        <td class="tabla__th">9:00</td>
                        <td class="tabla__th">19:00</td>
                    </tr>
               

                
                    <tr class="tabla__tr">
                        <td class="tabla__th">Jueves</td>
                        <td class="tabla__th">9:00</td>
                        <td class="tabla__th">19:00</td>
                    </tr>
                

                
                    <tr class="tabla__tr">
                        <td class="tabla__th">Viernes</td>
                        <td class="tabla__th">9:00</td>
                        <td class="tabla__th">19:00</td>
                    </tr>
                

                
                    <tr class="tabla__tr">
                        <td class="tabla__th">Sabado</td>
                        <td class="tabla__th">9:00</td>
                        <td class="tabla__th">19:00</td>
                    </tr>
                </tbody>

                <tfoot class="tabla__tfoot">
                    <tr class="tabla__tr">
                        <td class="tabla__th">Domingo</td>
                        <td class="tabla__th" colspan="2">Cerrado</td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</section>