<section class="categorias">
    <h3 class="categorias__heading">Categorias</h3>
    <div class="categorias__grid contenedor">
        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_1.jpg">
            <p class="categoria__nombre">Programacion</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_2.jpg">
            <p class="categoria__nombre">Diseño UX y UI</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_3.jpg">
            <p class="categoria__nombre">Negocios e ideas</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_4.jpg">
            <p class="categoria__nombre">Ropa y Moda</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_5.jpg">
            <p class="categoria__nombre">Ejercicio y Bienestar</p>
        </div>
        
        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_6.jpg">
            <p class="categoria__nombre">Fotografia</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_7.jpg">
            <p class="categoria__nombre">Comida</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_8.jpg">
            <p class="categoria__nombre">Diseño Interior</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_9.jpg">
            <p class="categoria__nombre">Cafe</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_10.jpg">
            <p class="categoria__nombre">Cine</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_11.jpg">
            <p class="categoria__nombre">Libros</p>
        </div>

        <div class="categoria">
            <img class="categoria__imagen" alt="categoria-img" src="../../../../assets/img/categoria_12.jpg">
            <p class="categoria__nombre">Emprendimiento</p>
        </div>

       
    </div>
</section>