<main class="contenido-principal contenedor">
    <h2 class="text-center">Entrada Blog</h2>
    <article class="entrada">
        
        <div class="imagen">
            <img src="../../../assets/images/nosotros.jpg" alt="imagen-nosotros">
        </div>
        <div class="entrada-meta">
            <p>Fecha: <span>16 de Septiembre de 2023</span></p>
            <p>Escrito por: <span>TiendaMuebles</span></p>
        </div>
        <div class="entrada-blog">
            <p class="justify-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe consectetur quis numquam qui culpa ipsum dolor, possimus obcaecati, fuga nobis maxime iusto? Officiis distinctio placeat inventore! Autem corporis dignissimos quo.</p>
            <p class="justify-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus cumque quis est culpa voluptate libero doloribus fuga quia exercitationem rerum enim, consequuntur tenetur fugiat pariatur neque corporis ducimus quisquam.</p>
            <p class="justify-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptatem quia ratione vel unde ducimus aliquam rerum impedit culpa. Nostrum dicta ullam cum omnis dolore autem inventore minima vero soluta?</p>
            <p class="justify-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, voluptatum nostrum. Corporis mollitia vel, cum itaque iste nam ex omnis in error ut. Autem necessitatibus sunt aut laboriosam dolorem quidem?</p>
        </div>
        
    </article>

</main>