
<main class="contenido-principal contenedor">
    <h2 class="text-center">Nuestros productos</h2>

    <div class="listado-productos">
        <div class="producto">
            <img src="assets/images/producto1.jpg">
            <div class="texto-producto">
                <h3>Producto 1</h3>
                <p class="descripcion-producto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, odit sint, a in magnam eaque fuga quod doloribus eveniet quas voluptas</p>
                <p class="precio">1,000,000 $</p>
                <a class="btn">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="assets/images/producto2.jpg">
            <div class="texto-producto">
                <h3>Producto 2</h3>
                <p class="descripcion-producto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, odit sint, a in magnam eaque fuga quod doloribus eveniet quas voluptas</p>
                <p class="precio">1,000,000 $</p>
                <a class="btn">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="assets/images/producto3.jpg">
            <div class="texto-producto">
                <h3>Producto 3</h3>
                <p class="descripcion-producto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, odit sint, a in magnam eaque fuga quod doloribus eveniet quas voluptas</p>
                <p class="precio">1,000,000 $</p>
                <a class="btn">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="assets/images/producto4.jpg">
            <div class="texto-producto">
                <h3>Producto 4</h3>
                <p class="descripcion-producto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, odit sint, a in magnam eaque fuga quod doloribus eveniet quas voluptas</p>
                <p class="precio">1,000,000 $</p>
                <a class="btn">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="assets/images/producto5.jpg">
            <div class="texto-producto">
                <h3>Producto 5</h3>
                <p class="descripcion-producto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, odit sint, a in magnam eaque fuga quod doloribus eveniet quas voluptas</p>
                <p class="precio">1,000,000 $</p>
                <a class="btn">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="assets/images/producto6.jpg">
            <div class="texto-producto">
                <h3>Producto 6</h3>
                <p class="descripcion-producto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, odit sint, a in magnam eaque fuga quod doloribus eveniet quas voluptas</p>
                <p class="precio">1,000,000 $</p>
                <a class="btn">Agregar al carrito</a>
            </div>
        </div>
    </div>
    
</main>