<section class="info">
    <h3 class="info__heading">Headless wordpress con next.js</h3>

    <div class="info__grid contenedor" >
        <div class="info__contenido">
            <img src="../../../../assets/img/meeti.jpg" alt="meeti-banner" class="info__img">
            <p class="info__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia in fugiat qui tempora sequi eos, illo, velit aperiam quidem quos libero eaque neque sint eius nam aliquam dolorum autem rerum!</p>
            <p class="info__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde laboriosam repellendus soluta eveniet ullam cupiditate porro provident veritatis. Quaerat repellendus deleniti rem eum blanditiis nesciunt dolor ut quo doloribus pariatur?</p>
            <p class="info__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero, a velit et aspernatur consectetur sed iste ex est nostrum perspiciatis accusantium ipsam esse animi distinctio sint placeat culpa nesciunt?</p>
            <p class="info__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero, a velit et aspernatur consectetur sed iste ex est nostrum perspiciatis accusantium ipsam esse animi distinctio sint placeat culpa nesciunt?</p>
            <p class="info__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde laboriosam repellendus soluta eveniet ullam cupiditate porro provident veritatis. Quaerat repellendus deleniti rem eum blanditiis nesciunt dolor ut quo doloribus pariatur?</p>
            <p class="info__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero, a velit et aspernatur consectetur sed iste ex est nostrum perspiciatis accusantium ipsam esse animi distinctio sint placeat culpa nesciunt?</p>
        </div>

        <div class="info__map">
            <img class="info__map-img" alt="info-map" src="../../../../assets/img/mapa.jpg">
            <div class="info__data">
                <h3 class="info__nombre">Informacion Meeti</h3>
                <p class="info__des"><span>Fecha:</span> 30 de diciembre de 2022</p>
                <p class="info__des"><span>Hora:</span> 20:30</p>
                <p class="info__des"><span>Ubicacion:</span> Av Vallarta 3033</p>
            </div>
        </div>
    </div>
</section>