<main class="eventos">

    <h3 class="eventos__heading">Proximos Eventos</h3>

    <div class="eventos__grid contenedor">

        <div class="evento">
            <a>
                <img class="evento__img" alt="img-evento" src="../../../../assets/img/imagen1.jpg">
                <div class="evento__contenido">
                    <p class="evento__fecha">Jueves 30 de Septiembre de 2022</p>
                    <h3 class="evento__nombre">Ideas de Negocios</h3>

                    <div class="evento__autor">
                        <div class="evento__autor-imagen">
                            <img class="evento__autor-img" alt="img-autor" src="../../../../assets/img/perfil1.jpg">
                        </div>
                        <div class="evento__autor-informacion">
                            <p class="evento__organizado-texto">Organizado por: </p>
                            <p class="evento__organizado-nombre">Marcos Vicent</p>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <div class="evento">
            <a>
                <img class="evento__img" alt="img-evento" src="../../../../assets/img/imagen2.jpg">
                <div class="evento__contenido">
                    <p class="evento__fecha">Martes 10 de Octubre de 2022</p>
                    <h3 class="evento__nombre">Bitcoin y otras criptos</h3>

                    <div class="evento__autor">
                        <div class="evento__autor-imagen">
                            <img class="evento__img" alt="img-autor" src="../../../../assets/img/perfil1.jpg">
                        </div>
                        <div class="evento__autor-informacion">
                            <p class="evento__organizado-texto">Organizado por: </p>
                            <p class="evento__organizado-nombre">Marcos Vicent</p>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <div class="evento">
            <a>
                <img class="evento__img" alt="img-evento" src="../../../../assets/img/imagen3.jpg">
                <div class="evento__contenido">
                    <p class="evento__fecha">Lunes 2 de Mayo de 2020</p>
                    <h3 class="evento__nombre">Pizzas paso a paso</h3>

                    <div class="evento__autor">
                        <div class="evento__autor-imagen">
                            <img class="evento__img" alt="img-autor" src="../../../../assets/img/perfil2.jpg">
                        </div>
                        <div class="evento__autor-informacion">
                            <p class="evento__organizado-texto">Organizado por: </p>
                            <p class="evento__organizado-nombre">Jose Perez</p>
                        </div>
                    </div>

                </div>
            </a>
        </div>

    </div>

</main>