<header class="header contenedor">
    <div class="header__grid">
        <div class="header__logo">
            <img class="header__img" src="../../../../assets/img/logo.svg" alt="logo">
        </div>
        <nav class="sociales">
            <a class="sociales__enlace" href="https://facebook.com">
                <span class="sociales__accesible">Facebook</span>
            </a>
            <a class="sociales__enlace" href="https://twitter.com">
                <span class="sociales__accesible">Twitter</span>
            </a>
            <a class="sociales__enlace" href="https://pinterest.com">
                <span class="sociales__accesible">Pinterest</span>
            </a>
            <a class="sociales__enlace" href="https://instagram.com">
                <span class="sociales__accesible">Instagram</span>
            </a>
            <a class="sociales__enlace" href="https://youtube.com">
                <span class="sociales__accesible">Youtube</span>
            </a>
            <a class="sociales__enlace" href="https://tiktok.com">
                <span class="sociales__accesible">Tiktok</span>
            </a>
        </nav>
    </div>
</header>

<div class="navigation">
    <div class="navigation__border ">
        <nav class="navigation__content contenedor">
            <a class="navigation__link">Inicio</a>
            <a class="navigation__link">Nosotros</a>
            <a class="navigation__link">Servicios</a>
            <a class="navigation__link">Productos</a>
            <a class="navigation__link">Contacto</a>
        </nav>
    </div>
</div>